{% extends 'base.html' %}

{% block title %}
    <title>Safe Restaurant Info Home</title>
{% endblock title %}

{% block main_content %}
    
            <!-- STATISTIC-->
            <section class="statistic statistic2" style="padding: 0px 0px;">
                <div class="container">
                    <h1>전국 안심식당 현황</h1>
                    <hr>
                </div>
            </section>
            <section class="statistic statistic2" style="padding: 0px 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--red">
                                <h2 id="number0" class="number">0</h2>
                                <span id="sido0" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--blue">
                                <h2 id="number1" class="number">0</h2>
                                <span id="sido1" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--orange">
                                <h2 id="number2" class="number">0</h2>
                                <span id="sido2" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--green">
                                <h2 id="number3" class="number">0</h2>
                                <span id="sido3" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="statistic statistic2" style="padding: 0px 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--green">
                                <h2 id="number4" class="number">0</h2>
                                <span id="sido4" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--orange">
                                <h2 id="number5" class="number">0</h2>
                                <span id="sido5" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--blue">
                                <h2 id="number6" class="number">0</h2>
                                <span id="sido6" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--red">
                                <h2 id="number7" class="number">0</h2>
                                <span id="sido7" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="statistic statistic2" style="padding: 0px 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--red">
                                <h2 id="number8" class="number">0</h2>
                                <span id="sido8" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--green">
                                <h2 id="number9" class="number">0</h2>
                                <span id="sido9" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--red">
                                <h2 id="number10" class="number">0</h2>
                                <span id="sido10" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--blue">
                                <h2 id="number11" class="number">0</h2>
                                <span id="sido11" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="statistic statistic2" style="padding: 0px 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--blue">
                                <h2 id="number12" class="number">0</h2>
                                <span id="sido12" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--red">
                                <h2 id="number13" class="number">0</h2>
                                <span id="sido13" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--green">
                                <h2 id="number14" class="number">0</h2>
                                <span id="sido14" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--orange">
                                <h2 id="number15" class="number">0</h2>
                                <span id="sido15" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="statistic statistic2" style="padding: 0px 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--green">
                                <h2 id="number16" class="number">0</h2>
                                <span id="sido16" class="desc"></span>
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            
            <!-- END STATISTIC-->

            <!-- STATISTIC CHART -->
            <section class="statistic-chart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">statistics</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="" style="width:780px;" >
                            <!-- CHART-->
                            <div class="statistic-chart-1 ">
                                <h3 class="title-3 m-b-30">chart</h3>
                                <div class="chart-wrap">
                                    <canvas id="widgetChart6"></canvas>
                                </div>
                                <div class="statistic-chart-1-note">
                                    <span id ="total-restaurant" class="big"></span>
                                </div>
                            </div>
                            <!-- END CHART-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <!-- TOP CAMPAIGN-->
                            <div class="top-campaign" style="padding:118px 15px;">
                                <h3 class="title-3 m-b-30">top rating</h3>
                                <div class="table-responsive">
                                    <table id="table-top-rating" class="table table-top-campaign">
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END TOP CAMPAIGN-->
                        </div>
                        
                        
                    </div>
                </div>
            </section>
{% endblock main_content %}

{% block custom_js %}

<script type="text/javascript">

$(function(){
    var sido_data=['경상북도','경기도','충청남도','인천광역시','부산광역시','서울특별시','강원도','경상남도','충청북도','전라남도','광주광역시','전라북도','대구광역시','제주특별자치시','대전광역시','울산광역시','세종특별자치시'];
    var total = 0;
    $.ajax({
        "url": "/saferestaurantinfo/index/",
        "method": "GET",
        "success": function(data, status, xhr){
            for(var i=0; i<data.length; i++){
                num=String(i);
                $('#sido'+num).text(sido_data[i]);
                $('#number'+num).text(data[i]);
                if( i <= 4 ){
                    var tr = $('<tr></tr>');
                    $('<td></td>').text(num+'. '+sido_data[i]).appendTo(tr); // 주소
                    $('<td></td>').text(data[i]).appendTo(tr); // 아파트 이름
                    $('#table-top-rating tbody').append(tr);
                };
                total = total + data[i];
            };
            
            show_restaurant_bar_chart(sido_data, data);
            $('#total-restaurant').text('total '+total + ' restaurants.');
        },
        "error": function(xhr, status, err){
            alert("err");
        }
    })
    var bar_chart = null;
    function show_restaurant_bar_chart(labels, datasets){
        //bar chart
        var ctx = $('#widgetChart6');
        if (ctx) {
            ctx.height = 200;
            bar_chart = new Chart(ctx, {
                type: 'bar',
                defaultFontFamily: 'Poppins',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: "시/도 구분",
                            data: datasets,
                            borderColor: "rgba(0, 123, 255, 0.9)",
                            borderWidth: "0",
                            backgroundColor: "rgba(0, 123, 255, 0.5)",
                            fontFamily: "Poppins"
                        }
                    ]
                },
                options: {
                    legend: {
                        position: 'top',
                        labels: {
                            fontFamily: 'Poppins'
                        }

                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontFamily: "Poppins"

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontFamily: "Poppins",
                            }
                        }]
                    }
                }
            });
        }
    }
});
</script>
{% endblock custom_js %}