{% extends 'base.html' %}

{% block title %}
    <title>Safe Restaurant List</title>
{% endblock title %}


{% block main_content %}

    <div class="card border border-secondary">
        <div class="card-body">
            <form class="form-header" action="." method="POST">
                <input class="au-input au-input--xl" type="text" id="region" placeholder="시/도 또는 구까지의 정보를 입력하세요" />
                <button class="au-btn--submit" type="button" id="btn_search">
                    <i class="zmdi zmdi-search"></i>
                </button>
            </form>
            <br>
            <div class="table-responsive m-b-30" style="font-size: 8pt;">
                <table id="sr_table" class="table table-borderless table-striped table-earning">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>음식점 이름</th>
                            <th>주소</th>
                            <th>전화번호</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <h5> 
                {% if page_obj.has_previous %} 
                <a href='?page={{page_obj.previous_page_number}}'>Previous</a> 
                {% endif %} 
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} 
                {% if page_obj.has_next %} 
                <a href='?page={{page_obj.next_page_number}}'>Next</a> 
                {% endif %} 
            </h5>


        </div>
    </div>
    <div class="card border border-secondary">
        <div class="card-header" style="padding: 10px 40px;">
            <strong class="card-title" id="restaurant_card_title" style="font-size: 30px;">Company Name</strong>
        </div>
        <div class="card-header" style="padding: 0px 40px;">
            <h3 class="title-3 m-b-30">Basic Information</h3>
        </div>
        <div class="table-responsive" style="padding: 5px 40px;">
            <table class="table table-top-campaign" id="restaurant_detail_table">
                <thead>
                    <tr>
                        <th>구분</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
        <hr>
        <div style="border: 10px solid gainsboro;">
            <div id="map" style="height:400px; width:100%;border: 1px solid grey;"></div>
        </div>
        <hr>
        <button class="btn btn-info"><a href="#" style="color:white">↑ 맨 위로 이동</a></button>
        
    </div>

{% endblock main_content %}

{% block custom_js %}
<script type="text/javascript">

$(function(){
    
    $('#btn_search').on('click',function(event){

        var region = $('#region').val();
        if(!region){
            return;
        }

        $('#sr_table tbody').empty();

        $.ajax({
            "url": "/saferestaurantinfo/saferestaurantlist/" + region,
            "method": "GET",
            "dataType":"json",
            "success": function(data, status, xhr){
                for(var i=0; i<data.length; i++){
                    var tr = $('<tr></tr>');
                    $('<td></td>').text(data[i][0]).appendTo(tr); // No
                    $('<td></td>').text(data[i][2]).appendTo(tr); // 음식점 이름
                    $('<td></td>').text(data[i][4]).appendTo(tr); // 주소
                    $('<td></td>').text(data[i][6]).appendTo(tr); // 전화번호
                    $('#sr_table tbody').append(tr);
                };
            },
            "error": function(xhr, status, err){
                alert("err");
            }
        })

        
    });
    list_td_names = ['식당번호', '시/도/군/구 정보', '식당명', '대표','안심식당 지정일','주소','업종','업종상세','전화번호'];

    $('#sr_table').on('click', 'tr', function(event) { 
        
        event.preventDefault();
        event.stopPropagation();

        var symbol = $(this).find("td:eq(0)").text();
        $.ajax({
            "url": "/saferestaurantinfo/" + symbol,
            "method": "GET",
            "success": function(data, status, xhr) {
                $('#restaurant_card_title').text(data[2]);
                $('#restaurant_detail_table tbody').empty();
                for (var idx = 0; idx < list_td_names.length; idx++) {
                    var tr = $('<tr></tr>');
                    $('<td></td>').text(list_td_names[idx]).appendTo(tr);
                    $('<td></td>').text(data[idx]).appendTo(tr);
                    $('#restaurant_detail_table tbody').append(tr);                    
                };
                document.getElementById('restaurant_card_title').scrollIntoView();
                var addr = data[5];
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };  

                // 지도를 생성합니다    
                var map = new kakao.maps.Map(mapContainer, mapOption); 

                // 주소-좌표 변환 객체를 생성합니다
                var geocoder = new kakao.maps.services.Geocoder();

                // 주소로 좌표를 검색합니다
                geocoder.addressSearch(addr, function(result, status) {
                    // 정상적으로 검색이 완료됐으면 
                    if (status === kakao.maps.services.Status.OK) {

                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: coords
                        });

                        // 인포윈도우로 장소에 대한 설명을 표시합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            content: '<div style="width:150px;text-align:center;padding:6px 0; border: 1px solid gainsboro;">주소 마커</div>'
                        });
                        infowindow.open(map, marker);

                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        map.setCenter(coords);
                    } 
                });
            },
            "error": function(xhr, status, err) {
                alert(err);
            }
        })

    });
    
    
});
</script>
{% endblock custom_js %}