{% extends 'base.html' %}

{% block title %}
<title>saferestaurant-Forum</title>
{% endblock %}

{% block main_content %}

    <h2 id='titles'>{{ object.title }}</h2>
    <p id = 'addr'>{{ object.addr }}</p>
    <div style="height:100px; background-color:gainsboro; padding: 10px;">
        {{object.description}}
    </div>
    <div style="border: 10px solid gainsboro;">
        <div id="map" style="height:400px; width:100%;border: 1px solid grey;"></div>
    </div>
    <p>
        {% if object.get_next %}
        <a href="{{ object.get_next.get_absolute_url }}">{{ object.get_next }}</a>
        {% endif %}
        &nbsp;|&nbsp;
        {% if object.get_previous %}
        <a href="{{ object.get_previous.get_absolute_url }}">{{ object.get_previous }}</a>
        {% endif %}
    </p>

    <div>
        {{ object.modify_dt }}
    </div>
    

{% endblock %}


{% block custom_js %}
<script>
    var titles = document.getElementById('titles').innerText;
    var addr = document.getElementById('addr').innerText;
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption); 

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(addr, function(result, status) {

        // 정상적으로 검색이 완료됐으면 
        if (status === kakao.maps.services.Status.OK) {
            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0; border: 1px solid gainsboro;">'+ titles + '</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        } 
    });  
</script>

{% endblock custom_js %}